.btn{
    background: #3838d6;
    color: wheat;
    /* padding: 1vh; */
    border-radius: 0.7vh;
    width: 19vw;
    font-size: 2vh;
    height: 7vh;

}


@media screen and (max-width : 970px){
    .btn{
        width: 21vw;
    }
}
/* @media screen and (max-width : 800px){
    .btn{
        width: 46vw;
    }
    
} */
@media screen and (max-width : 620px){
    .btn{
        width: 33vw;
    }
}
@media screen and (max-width : 450px){
    .btn{
        width: 50vw !important;
        /* font-size: 1.5vh !important; */
    }
}
@media screen and (max-width : 460px){
    .btn{
        width: 50vw;
    }
}
/* @media screen and (max-width : 325px){
    .btn{
        width: 50vw;
    }
} */
@media screen and (max-width: 1025px){
    .btn{
        width: 25vw;
    }
}