@import url('https://fonts.googleapis.com/css2?family=Inika&family=Russo+One&family=Rye&display=swap');


.thisH1 {
    color: white;
    font-family: 'Rye';
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    padding-top: 30px;
    margin-bottom: 30px;
}

.container{
    width: 100vw;
    height: 100%;
    background-color: black;
    padding: 30px 0px 0px 0px;
}

/* .major {
    background-color: black;
    display: flex;
    flex-direction: column;
} */

/* .mainbox {
    margin: 50px 5%;
    border-radius: 12px;
    height: 400px;
    box-shadow: 0 0 18px 0px rgb(140, 140, 140);
} */

.mainbox{
    width: 90vw;
    height: 40vh;
    background-color: black;
    box-shadow: 0 0 18px 0px rgb(140, 140, 140);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.makeathon,
.mlsc{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    ;
}

.logo{
    width: 30%;
    height: auto;
}

.makeLogo{
    width: 70%;
    height: auto;

}

.abText{
    width: 90%;
    text-align: justify;
    color: white;
}

@media (max-width: 700px) {

    .mainbox{
        flex-direction: column;
        gap: 20px;
        height: 100%;
        margin: 10px 0px 10px 0px;
    }
    /* .makeathon,
    .mlsc{
        flex-direction: column;
    } */
    .mlsc{
        flex-direction: column-reverse;
    }
}

.prizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    margin-bottom: 0;
    margin-top: 0;
}

.heading {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Russo One';
    font-weight: 100;
}

.prizeBox {
    height: 300px;
    width: 200px;
    color: black;
    cursor: pointer;
    transition: box-shadow 0.5s;
    padding: 10px;
    background-color: #333;
}

.prizeBox .prizeName,
.prizeBox .prizeInfo {
    opacity: 0;
    text-align: center;
    font-size: 18px;
    transition: opacity 1s;
}

.prizeBox:hover .prizeName,
.prizeBox:hover .prizeInfo {
    opacity: 1;
}

.prizeBox:hover {
    box-shadow: 0 0 14px 0px goldenrod;
}

.accordion {
    background-color: #333;
    color: whitesmoke;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    margin-bottom: 20px;
    height: 70px;
    margin-left: 30px;
    text-align: left;
    border: 2px solid #585858;
    outline: none;
    transition: 0.4s;
    font-family: 'Russo One';
    font-size: 20px;
}

.accordion:hover {
    background-color: #181818;
}

.panel {
    padding: 0 18px;
    background-color: #202020;
    width: 92.1%;
    color: whitesmoke;
    display: none;
    margin-left: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: -7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.active {
    background-color: #181818;
}

.last {
    height: 100px;
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: white;
}