.thisH1 {
    color: rgb(229, 255, 0);
}

.home {
    background-image: url('./images/bgFinal.png');
    height: 120vh;
    width: 100vw;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -20vh;


}

.tiltHomeLeft1 {
   
    cursor: pointer;

    transform: rotateY(35deg) rotateX(9deg) rotateZ(6deg);
  transform-style: preserve-3d;
}

.tiltHomeLeft2 {
    
    cursor: pointer;
    /* transform: rotateY(35deg) rotateX(0deg) rotateZ(2deg);
    transform-style: preserve-3d; */
    transform: perspective(1500px) rotateY(30deg) rotateZ(2.3deg);


   
}

.tiltHomeLeft3 {
   
    cursor: pointer;
   
    /* transform: translateZ(8vw); */
    /* transform: rotateY(-45deg); */
    /* transform: rotateY(35deg) rotateX(0deg) rotateZ(2deg); */
    transform: perspective(1500px) rotateY(30deg);
   
}

.tiltHomeRight1 {
    cursor: pointer;
    transform: rotateY(-42deg) rotateZ(-5deg);
   
}

.tiltHomeRight2 {
    cursor: pointer;
    /* transform: rotateY(-48deg) rotateZ(-2deg); */
    /* transform: rotateY(-35deg) rotateX(0) rotateZ(-2deg);
    transform-style: preserve-3d; */
    transform: perspective(1500px) rotateY(-30deg) rotateZ(-2.5deg);

    
}

.tiltHomeRight3 {
    cursor: pointer;
    /* transform: rotateY(-48deg) rotateZ(-2deg); */
    /* transform: rotateY(-35deg) rotateX(0) rotateZ(-2deg);
  transform-style: preserve-3d; */
  transform: perspective(1500px) rotateY(-30deg);

  
}




.row2 {
    display: flex;
   
    height: 24.46vh;
    justify-content: space-around;
    
    margin: 0 0.5em;
    margin-bottom: -5.25vh;
    padding: 0 14.438vh;
    z-index: 10;
}

.row3 {
    display: flex;
   
    height: 24.46vh;
    justify-content: space-around;
    
    margin: 0 0.5vh;
    z-index: 10;
}

.allButtons {
    position: relative;
    top: 66.875vh;
    z-index: 10;
}

.throne {
    height: 74vh;
    width: auto;
    z-index: 1;
    position: fixed;
   
    object-fit: contain;
    transform: translateX(-51.2%);
    top: 21.15vh;
    left: 51.2vw;
    
}


.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.logo{
    position: fixed;
    top: 7vh;
    left: 50vw;
    height: 26vh;
    width: auto;
    transform: translateX(-50%);
    object-fit: contain;
}

.animation{
    transform: translateZ(8vw);
    /* transform: rotateY(-45deg); */
    /* transform: rotateY(-48deg) rotateZ(-2deg); */
    
} 
.tiltHomeLeft2,
.tiltHomeRight2,
.row3,
.tiltHomeLeft3,
.tiltHomeRight3
{
  position: relative;
  /* animation: floatAnimation 3s infinite alternate ease-in-out; */
  
}

/* @keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
} */

@media screen and (max-width : 1460px) {
    .row2 {
        padding: 0 4.438em;
    }

    .row3 {
        justify-content: space-between;
        padding: 0 5.1em;
    }
}

@media screen and (max-width : 1000px) {
    .throne {
        height: 67vh;
        top: 22.15vh;
    }

    .row2 {
        padding: 0 0.438em;
    }

    .row3 {
        padding: 0 2.1em;
    }

}

@media screen and (max-width:775px) {
    .row2 {
        justify-content: space-between;
        padding: 0 4.438em;
    }

    .row3 {
        padding: 0 0.1em;
    }
}

@media screen and (max-width:640px) {
    .row2 {
        padding: 0 2.438em;
    }

    .row3 {
        margin: 0 0;

    }

}

@media screen and (max-width: 571px) {
    .throne {
        height: 65vh;
        top: 23.15vh;
    }

}

@media screen and (max-width: 460px) {
    .row2 {
        display: none;

    }

    .row3 {
        display: none;
    }

    .throne {
      
         height: 81vh;
        top: 9vh; 
        left: 53.65vw;
    } 

    .menu {
        display: inline-block;
        top: 9em;
        left: 2em; 
       

    }
    
} 


@media screen and (max-height: 1368px){
   
    .row2{
        justify-content: space-between;
        padding: 0 3.438em;

    }
    .row3{
        padding: 0 0.1em;
    }
    .throne{
        top: 16.15vh;
        left: 52.2%;
    }
}

@media screen and (max-height: 1180px)
{
    .throne{
        height: 96vh;
        top: 20.15vh;
        left: 51%
    }
}


@media screen and (max-height: 1025px)
{
    .throne{
        top: 0.15vh;
    }

}
@media screen and (max-height: 850px){
    .throne{
        /* top: -4.125vh; */
        height: 81vh;
        top: 13vh;
    }
}
/* @media screen and (max-width: 2560px){
    .throne{
        top: 2.15vh;
    }
} */
@media screen and (max-width: 650px){
    .throne{
        height: 80vh;
        top: 10vh;
    }
    .logo{
        height: 21vh;
        top:14vh ;
}
}
@media screen and (min-width: 2560px){
    .throne{
        top: -3vh;
    }
}