.thisH1{
    color: rgb(229, 255, 0);
}
.home{
    background-image: url('./images/king.png');
    height: 100vh;
    width: 100%;
    /* object-fit: fill; */
    object-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.tilthome{
    /* transition: background-color 0.3s ease, box-shadow 0.3s ease; */
    cursor: pointer;
    transform: rotateY(58deg) rotateZ(5deg);
    position: absolute;
}