@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

.text{
  color: #FFE8D3;
  font-size: 3rem;
  font-style: normal;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.heading{
  font-weight: 300;
  color: #FFE8D3;
  font-size: 90px;
  text-align: center;
  margin-bottom: 50px;
   margin-top: -70px;
}


.ameer,
.gareeb,
.more {
  width: 100%;
  object-fit: contain;
  z-index: 0;
}

.ameer{
  width: 280px;
  height: 190px;
}

.more{
  width:230px;
  height: 160px;
}

.flaglogo {
  z-index: 1;
  position: absolute;
  object-fit: contain;
}

.overlap{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 50px;
 margin-right: 50px;
 margin-bottom: 50px;

}

.flaglogo:hover{
  /* box-shadow: 5px 5px 10px rgba(0,0,0,0.25); */
  filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));
}

.flex,
.flexs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.bg{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-size: cover;
  filter: brightness(50%);
}



.Logo{
  /* display: flex;
  justify-content: space-around; */
  width: 117px;
  height: 158px;
  margin-left: 90%;
}

@media screen and (max-width: 900px) {
  .heading {
    font-size: 60px;
    margin-left: 0;
  }

  .text {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }


  .sideLine {
    margin: 10px;
  }

  .Logo {
    width: 80px;
    height: 100px;
    margin-left: 85%;
  }
}

@media screen and (max-width: 754px) {
  .heading {
    font-size: 60px;
    margin-left: 0;
  }

  .text {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }


  .sideLine {
    margin: 10px;
  }

  .Logo {
    width: 80px;
    height: 100px;
    margin-left: 85%;
  }
  

  .flex{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
  }
}

@media screen and (max-width: 650px) {
  .heading {
    font-size: 33px;
  }

  .text  {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .Logo {
    width: 60px;
    height: 80px;
    margin-left: 85%;
  }

.flex{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.ameer{
  width: 240px;
  height: 190px;
}

 .overlap{
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
 }

 .more,
 .gareeb{
  width: 170px;
  height: 190px;
}
}


/* .buttonContainer{
display: flex; justify-content: center;
}

.button{
  background-color: #fadec4;
  
  padding: 12px 40px; 
  margin-bottom: 50px;
  margin-top: 30px;
  border-radius: 9px; 
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button:hover{
  background-color: #feefe2;
}

.ignore{
  text-decoration: none;color: #212121;font-size: large;
} */