.main {
    background-image: url('./assets/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    flex-wrap: wrap;
    position: relative;
  }

@media (min-width: 1151px) {
    .main {
      font-size:large;
    }
  }

  @media (min-width: 761px) and (max-width:1150px) {
    .main {
      font-size:large;
    }
  }

  @media (max-width: 760px) {
    .main {
      font-size:22px;
    }
  }
  
.container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
    height: 500px;
}

.Ev{
    background-image: url('./assets/Union.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 300px;
    text-align: center;
    margin: auto;
    transition: transform .2s;
    cursor: pointer;
}

.Ev:hover{
    /* transform: scale(1.1); */
    transform: translateY(-50px);
}

.heading{
    padding-top:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

.mainheading{
    padding-top:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:black;
}

.para{
    color: white;
    text-align: center;
} 

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

  .popup {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    backdrop-filter: blur(10px);
    width: 95%;
    height: 80%;
    justify-content: left;
    align-items: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    border-radius: 10px;
    z-index: 2;
    overflow-y: scroll;
  }

  .center{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn {
    color:white;
    background-color: black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    opacity: 1;;
  }
  .btn:hover {
    opacity: .7;
  }
  .btn:before, .btn:after {
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .btn:before {
    transform: rotate(45deg);
  }
  .btn:after {
    transform: rotate(-45deg);
  }