/* @font-face {
  font-family: Heading;
  src: url('./Canterbury.ttf');
} */

.main {
    background-image: url('./assets/TracksFinalbg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    flex-wrap: wrap;
    position: relative;
    overflow-y:hidden;
    min-height:100vh;
    z-index: 0;
   
  }

.container{
  
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    height: 100%;
margin-bottom: 25px;

    
}

.container::-webkit-scrollbar {
  display: none; 
}


.Ev{
    background-image: url('./assets/Union.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 350px;
    text-align: center;
    margin: auto;
    transition: transform .5s;
    cursor: url('../../public/Medieval\ Pointer.png'),auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: ease-in-out 0.2s;
    

}

.Ev:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px 8px black ;
    transition: box-shadow 1.5s;
    backdrop-filter: blur(5px);
    transition: ease-in-out 0.5s;
    border-radius: 5px;
}

.heading{
    padding:5px;
    /* margin-top: 50%; */
    width: 250px;
    /* font-family: Heading; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    color:  rgb(57, 57, 57);
    font-size: 33px ;
    cursor: url('../../public/Medieval\ Pointer.png'),auto;
    /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.3px);
-webkit-backdrop-filter: blur(7.3px);
border: 1px solid rgba(255, 255, 255, 0.3);
   
}

.mainheading{
    margin:10px;
    padding:10px;
    /* font-family: Heading; */
    text-align: center;
    color:  rgb(195, 149, 93);
    font-size: 60px;
    text-shadow: 5px 5px 2px black;
}

/* .para{
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    
   
}  */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

  .popup {
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    backdrop-filter: blur(10px);
    width: 95%;
    height: 80%;
    justify-content: left;
    align-items: top;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 2;
    overflow-y: auto;
    display: flex;
    padding:20px;
    border: 1px dashed white;
  }

  .btn {
    color:white;
    background-color: black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    right: 20px;
    margin: 15px;
    cursor: url('../../public/Medieval\ Pointer.png'),auto;
  }
  
  .btn:hover {
    opacity: .7;
  }
  .btn:before, .btn:after {
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .btn:before {
    transform: rotate(45deg);
  }
  .btn:after {
    transform: rotate(-45deg);
  }

  
  .flex{
    display:flex;
    height:100%;
    width:100%;
  }

  .popupimage{ 
    height:90%;
    width: 30%;
    max-width: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    position: relative;
  }
  .card{    
    background-image: url('./assets/Union.svg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    width:100%;
    height:100%;
  }
  .ok{
    margin-top:20px;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 70%;
    box-sizing: border-box;
  }

  .eventImage {
    object-fit: cover; 
    border-radius: 5px; 
    margin:20px;
    /* filter: blur(5px); */
    z-index: -1;
   
  }

  .eventContent{
    position:absolute;
  }

  @media (min-width: 1151px) {
      .main {
       font-size:large;
      }
      .card{
        width: 100%;
      }
      .popupimage{
        width: 100%;
      }  
  } 
  
  @media (min-width: 761px) and (max-width:1150px) {
    .main {
      font-size:large;
    }
    .card{
      width: 100%;
    }
    .popupimage{
      width: 100%;
    }
  }
  
  @media (max-width: 760px) {
    .main {
      font-size:16px;
    }
    .mainheading{
      padding:50px;
    }
    .card{
      width: 70%;
      height: 100%;
    }
    .popupimage{
      width: 100%;
      height: 50%;
      max-width: 100%;
      display: flex;
      justify-content: center;
    }
    .content{
      margin-top: 50px;
      max-width: max-content;
      padding: 10px;
    }
    .flex{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      padding: 0px;
    }
    .Ev {
      width: 45%;
      height: 45%;
      box-sizing: border-box;
      background-position: center;
      padding:0px;
    }
    .eventImage {
      width: 100%;
      max-height: 200px;
      overflow: hidden;
      margin: 10px;
    }
    .eventImage img {
      height: 204.75px;
      width: 112.5px; 
      box-sizing: border-box;
      object-fit: cover;
      padding: 0px;
    }
    .eventContent {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .btn{
      right: 7.5%;
      margin: 0px;
    }
    .heading{
      font-size: 10px;
      width: 100px;
    }
    .para{

      width: 50px;
      height: 100px;
      font-size: 7px;
      padding-top: 5px;
      padding-left: 65px;
      padding-right: 0px;
      
    }
  }

  .spacing1
  {
    margin-bottom: 15px;
  }

  .spacing2
  {
    margin-bottom: 25px;
  }

  .pointer{
    cursor: url('../../public/Medieval\ Pointer.png'),auto;
  }