@font-face {
    font-family: myFirstFont;
    src: url(https://fonts.googleapis.com/css2?family=Coming+Soon&family=Jacques+Francois+Shadow&family=Roboto:wght@100&display=swap);
  }
  
  

.bgbox{
    height: 100vh;
    width: 100vw;
    overflow: clip;
    /* background-image: url(./assets/bg.svg.svg); */
}



/* .astrobox{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(./assets/bg.svg.svg);
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
    overflow: clip;
    gap: 8vw;
    
} */

.astrobox{
    display: flex;
    justify-content: center; 
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/bg.svg.svg);
    /* flex-wrap: wrap; */
    align-items: center;
    z-index: 1;
    overflow: clip;
    /* gap: 8vw; */
    flex-direction: column;
}


#imgbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:35vw ;
    height: 35vh;
    position: relative;
    border-radius: 50%;
}


.stackbox{
    position: relative;
    border-radius: 50%;
    display: grid;
    

}


.astroimage {
    height: 100% ;
    width: 100%;
    grid-area: 1 / 1;
    z-index: 1;
}

.astroimage2{
    height: 100% ;
    width: 100%;
    animation: rotate 6s;
    animation-fill-mode: forwards;
    grid-area: 1/1;
    z-index: 3;
    height: 80%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    
}


.framediv{
    grid-area: 1/1;
    z-index: 4;
}

/* .astroimage2, .astroimage3{
    position: absolute;
    left: 10%;
    top: 10%;
    height: 80% ;
    width: 80%;
    z-index: 1;
} */

.astroimage3 {

   position: absolute;
    left: -20%;
    top: -7%;
    height: 90%;
    width: 90%;
    transform: rotate(15deg);
    z-index: 0;
    
}

.astroimage4, .astroimage5, .astroimage6, .astroimage7, .astroimage8, .astroimage9, .astroimage10, .astroimage11{
    position: absolute;
    z-index: 22;
    height: 3.2%;
    width: 3.2%;
    transition: 0.5s;
    border-radius: 100%;
    
}

.astroimage4{
    left: -1%;
    top: 76%;
}


.astroimage5{
    left: -6%;
    top: 64.75%;
}

.astroimage6{
    left:-8%;
    top: 53.5%;
}

.astroimage7{
    left: -7.5%;
    top: 42.25%;
}

.astroimage8{
    left: -3.4%;
    top: 31%;
}

.astroimage9{
    left: 2%;
    top: 21%;
}

.astroimage10{
    left: 12%;
    top: 11%;
}

.astroimage11{
    left: 25%;
    top: 3%;
}

.hoverglow
{
    color: white;
    box-shadow: 0 0 1em  #b7e7fc , 0 0 1em  #fefefe inset;
}


/* .astroimage4:hover, .astroimage5:hover, .astroimage6:hover, .astroimage7:hover, .astroimage8:hover, .astroimage9:hover, .astroimage10:hover, .astroimage11:hover{
    


} */


/* text css begins here */


.textbox{
    display: flex;
    justify-content: space-around;
    align-items: left;
    width: 40%;
    flex-direction: column;
    font-family: myFirstFont;
    

    z-index: 33;

    /* border: 1.5px solid aliceblue;
    border-radius: 15px; */

}


.para{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align:justify;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

}

.parag{
    text-align:center;
    color: #ffffff;
    font-size: larger;


}

.minibox{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;

}


.heading{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    display: block;
}


.mikibox{
    padding: 2em;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(326deg);}
    
}

@media screen and (min-width : 1000px) {
    .astrobox {
        flex-direction: row;
        gap: 8vw;

    }
}

@media screen and (max-width : 1025px){
    .astrobox{
        flex-direction: column;
    }
    .textbox{
        margin-top: 8vh;
        width: 70%;
    }
    #imgbox{
        width:65vw;
    }
}

/* @media screen and (max-width : 500px){
    .para {
        font-size: 50px;
    }
} */
/* @media screen and (max-width : 500px){
    .stackbox {
        height: 75vw;
        width: 75vw;
 }
 .astrobox{
    flex-direction: column;
 }
 .textbox{
    width: 80%;

    
    margin-bottom: 2rem;
 }

 .mikibox{
    padding: 5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    /* position: sticky; */

 /* }
 .heading{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    padding: 0 5rem;
 }
 .minibox{
    position:sticky;

 }
 }  */
 @media screen and (max-width : 500px){
    #imgbox{
       
        width:75vw ;
    height: auto;
    margin-top: 25%;
    }
    .astrobox{
        overflow: visible;
        margin-top: 0vh;
        flex-direction: column;
    }
    .bgbox{
        overflow: clip;
    }
 }

 @media screen and (max-width : 400px) and (max-height : 740px){
    #imgbox{
       
    margin-top: 45vh;
    }
 }
 .ripple {
    
   
  
    animation: ripple 2s linear infinite;
  }
  
  .ripple::before,
  .ripple::after {
    content: "";
 
    border-radius: 50%;
    animation: inherit;
    animation-delay: 0s;
  }
  
  .ripple::after {
    animation-delay: 0s;
  }
  
  @keyframes ripple {
    0% {
      /* box-shadow: 0 0 0 .7rem rgba(255, 255, 255, 0.2); */
      /* box-shadow: 0 0 0.5em blue; */
    }
    100% {
      /* box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0); */
      box-shadow: 0 0 5em #b7e7fc ;
    }
  }
  