/* @font-face {
    font-family: kingvoon;
    src: url('/public/fonts/Kingvoon.woff');
    src: url('/public/fonts/Kingvoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } */

  @font-face {
    font-family: "kingvoon";
    src:
      local("kingvoon"),
      url("../../public/fonts/Kingvoon.woff") format("woff") tech(color-COLRv1),
      /* url("trickster-outline.otf") format("opentype"), */
      /* url("../../public/fonts/Kingvoon.woff") format("woff"); */
  }
  
  .countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
  }

  ul {
    width:100vw;
  }

  .container {
      color: #333;
      /* margin: 0 auto; */
      text-align: center;
      width:100vw;
  }
  
  h1 {
      font-weight: normal;
      letter-spacing: 0.125rem;
      text-transform: uppercase;
  }
  
  li {
      
      font-family: kingvoon;
      display: inline-block;
      list-style-type: none;
      padding: 0.2em;
      text-transform: uppercase;
      background-image: linear-gradient(
      to right,
      #462523 0,
            #cb9b51 22%, 
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
      );
      color:transparent;
      -webkit-background-clip:text;
  }

.days{
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.hours{
  transform: translatey(0px);
  animation: float 4.5s ease-in-out infinite;
}

.minutes{
  transform: translatey(0px);
  animation: float 8s ease-in-out infinite;
}

.seconds{
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

  li span {
      display: block;
      font-size: 4.5rem;
      background-image: linear-gradient(
      to right,
      #462523 0,
            #cb9b51 22%, 
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
      );
      color:transparent;
      -webkit-background-clip:text;   
}

  
.text{
  font-size: 1.5em;
  
}

.time{
  font-size: 3rem;
}

    @media all and (max-width: 768px) {
      h1 {
        font-size: calc(1.5rem * var(--smaller));
      }
    
      li {
        font-size: calc(1.125rem * var(--smaller));
      }
    
      li span {
        font-size: calc(3.375rem * var(--smaller));
      }
    }
  
  .container li{
      color:white;
      /* background-color: white; */
      border-radius: 20px;
      padding:0 0 10px 0;
      margin: 0 10px 10px 10px;
      width:140px;
      /* background: rgba(255, 255, 255, 0.19); */
      /* border-radius: 16px; */
      /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
      /* backdrop-filter: blur(5.9px); */
      /* -webkit-backdrop-filter: blur(5.9px); */
      /* border: 1px solid rgba(255, 255, 255, 0.47); */
  }
  
  @media only screen and (max-width: 500px) {
    .container li{
      width:80px;
      margin:5px; 
      font-size:13px;
      height:70px;
    }

    .time{
      font-size:2rem;
    }
  
    .container{
      margin-top: 10vw;
    }
  }
  
  @media only screen and (max-width: 390px) {
    .container li{
      /* display: flex; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:75px;
      margin:5px; 
      font-size:11px;
      height:65px;
    }

    .time{
      font-size:2rem;
    }
  
    .container{
      margin-top: 10vw;
    }
  }
  
  
  @media only screen and (max-width: 375px) {
    .container li{
      /* display: flex; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:70px;
      margin:5px; 
      font-size:10px;
      height:60px;
    }
  
    .container{
      margin-top:10vw;
    }
  }
  
  @media only screen and (max-width: 350px) {
    .container li{
      /* display: flex; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:65px;
      margin:5px; 
      font-size:9px;
      height:55px;
    }
  
    .container{
      margin-top: 10vw;
    }
  }
  /* 475 400 */

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
}